################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/bin/**
**/obj/**
/MoreDoors/Resources/Data/debug.json
